[Unit]
Description=DigiHealth Lamp Service
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/digihealth-lamp
ExecStart=/usr/bin/python3 -m digihealth.main
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target